<div class="container-fluid">
<form [formGroup]="form" (ngSubmit)="submit(form.value)">
  <div class="container"><h2>Register</h2></div>
  @if (errorMsg) {<div>{{errorMsg}}</div>}
  <div class="container">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter name" formControlName="name" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email" formControlName="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" formControlName="password" required>

    <button type="submit" class="btn btn-primary">Register account</button>
    
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    <span class="psw">Already have an account? <a routerLink="/login">Login</a></span>&nbsp;
    <!-- <span class="psw">Forgot password? <a routerLink="/forgot">Forgot</a></span> -->
</div>
</form> 
 </div>
